
.glossary textarea {
  height: 5em;
  width: 40em;
}

#addButton {
  background-color: lightgreen;
}

.glossary {
  z-index: 18;
  position: relative;
  top: -430px;
  left: 50%;
  width: 100%;
  height: auto;
  color: white;
  background-color: #1253A4;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  opacity: .7;
  font-family: neuton, sans-serif;
  padding-left: 200px;
  padding-bottom: 20px;
}

.glossaryHeader {
  position: relative;
  left: -10%;
  font-family: neuton, sans-serif;
  color: #fff;
  width: 4em; 
  font-weight: bolder;
  line-height: 200%;
  margin-left: 10px;
  font-size: 200%;
}

.glossary form {
  position: relative;
  left: -10%;
}

.wordList {
  position: relative;
  left: -10%;
}

/* ----------------------------------------------- 
  RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 425px) {
  .glossary {
  z-index: 18;
  position: relative;
  top: -430px;
  left: 50%;
  width: 100%;
  height: auto;
  color: white;
  background-color: #1253A4;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  opacity: .7;
  font-family: neuton, sans-serif;
  padding-left: 200px;
  padding-bottom: 20px;
}

}
