/* Type Selectors */

body {
  color: #878787;
  margin: 0;
}

  h1 {
  font-family: advent-pro, sans-serif;  
  font-size: 4em;
  color: orange;
  padding-left: 10px;
  }

  h2 {
    font-family: open-sans, sans-serif;
    font-size: 2em;
  }

  h3 {
    font-size: 1em;
    color: #48525c;
  }

  /* NAVIGATION
-------------------------------------------------- */

.navBar { 
  font-family: neuton, serif;   
  width: 100%;
  float: left;
  padding: 0px;
  background-color: #FF0000;
  border-width: 0px; 
  border-radius: 25px;
  padding: 0px;
  margin: 10px;
  }

.navBar ul {
  list-style: none;
}

a:link {
  color: white;

}

a:visited {
  color: lightblue;
}

a:hover {
  color: forestgreen;
}

/* MAIN CONTENT
-------------------------------------------------- */

.content {
  float: left;
  padding: 0px;
  margin: 10px;
  max-width: 400px;
  background-color: #CCFFCC;
  border-width:20px; 
  border-radius: 25px;
}

.feature {
    font-family: neuton, serif;
    font-size: 1em;
    text-align: left;
    max-width: 768px
  }

  .featureImage {
  background: url(http://placehold.it/300x250/7FFFD4);
  float: right;
  padding: 10px;
  margin: 10px -40px 10px 20px;
  border-radius: 25px;
  box-shadow: -20px 20px .5px #888888;
  width: 300px;
  height: 250px;
  }


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
  }


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 425px) {

  .navBar {
  font-family: neuton, serif;       
  width: 200px;
  height: 800px;
  padding: 0px;
  float: left;
  background-color: #FF0000;
  border-width: 0px; 
  border-radius: 25px;
  }

  h1 {
  font-family: advent-pro, sans-serif;  
  font-size: 4em;
  color: orange;
  }

  h2 {
    font-family: open-sans, sans-serif;
    font-size: 2em;
  }

  h3 {
    font-size: 1em;
    color: #48525c;
  }

  .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
  }
