/* color reference 

  #30302F - dark Grey
  #F1F0EE - grey
  #FFD464 - yellow
  #F26964 - red
  #E8FAE8 - green
  #1253A4 - dark blue

*/

body {
  color: #878787;
}

  h1 {
  font-family: advent-pro, sans-serif;  
  font-size: 4em;
  line-height: 100%;
  color: #F26964;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  }

  h2 {
    font-family: open-sans, sans-serif;
    font-size: 2em;
    margin-top: 0px;
  }

  h3 {
    font-size: 2em;
    color: #fff;
  }

  header {
    z-index: 20;
    position: relative;
    width: 100%;
    height: auto;
    /*background-color: white;*/
    opacity: 0.9;
  }

  header h1 {
    max-width: 1200px;
  }

  /* NAVIGATION
-------------------------------------------------- */

.navBar { 
  z-index: 20;
  position: relative;
  top: -40px;
  width: 100%;
  height: 20em;
  /*float: left;*/
  padding: 0px;
  background-color: #FFD464;
  border-width: 0px; 
  border-radius: 25px;
  padding: 0px;
  margin-left: 0px;
  opacity: .8;
}

.navBar h2 {
  position: relative;
  /*left: -10%;*/
  font-family: neuton, sans-serif;
  color: #fff;
  max-width: 100px; 
  font-weight: bolder;
  line-height: 100%;
  margin-left: 10px;
  font-size: 4em;
}

.navBar ul {
  position: relative;
  font-family: neuton, sans-serif;
  line-height: 300%;
  list-style: none;
  text-align: right;
  margin-left: -20px;
  margin-right: 10px;
}

a:link {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: forestgreen;
  text-decoration: none;
}

/* MAIN CONTENT
-------------------------------------------------- */

.article {
  z-index: 21;
  position: relative;
  top: -100px;
  left: 5%;
  width: 100%;
  max-width: 500px;
  height: auto;
  background-color: #F26964;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  border-top: dashed;
  border-top-color: white;
  opacity: .9; 

}

.articleHeader {
  position: relative;
  left: -10%;
  /*width: 100px;*/ 
  font-family: neuton, sans-serif;
  color: #fff;
  font-weight: bolder;
  /*margin-left: 10px;*/
  font-size: 1.5em;
}

.feature {
  position: relative;
  top: -40px;
  color: #2F4F4F;
  font-family: neuton, sans-serif;
  font-size: 1em;
  text-align: left;
  max-width: 400px;
  width: 90%;
  padding-left: 20px;
  padding-bottom: 20px;
}

.featureImage img {
  position: relative;
  border-radius: 20px;
  width: 300px;
  height: 200px;
}

.featureImage {
  z-index: 19;
  position: relative;
  opacity: 0.8;
  float: right;
  padding: 0px;
  margin: 10px -40px 40px 100px;
  border-radius: 25px;
  box-shadow: -20px 20px .25px #4E4E4E;
  width: 300px;
  height: 200px;
}

.footer {
  height: 30px;
  bottom: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

/* ----------------------------------------------- 
  RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 425px) {

  header {
    z-index: 20;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    height: 100px;
    width: 930px;
    max-width: 1200px;
  }

  h1 {
  background-color: white;
  font-family: advent-pro, sans-serif;  
  font-size: 4em;
  }

  h2 {
    font-family: open-sans, sans-serif;
    font-size: 2em;
  }

  h3 {
    font-size: 1em;
    color: #48525c;
  }

  .articleHeader {
    /*width: auto;
    max-width: 800px;
    padding-left: 150px;
    padding-right: 40px;*/
    padding-left: 100px;
  }

  .navBar h2 {
    position: relative;
    left: -10%;
    font-size: 3em;
  }

  .navBar {
    z-index: 19;
    position: fixed;
    top: 153px;
    font-family: neuton, serif;       
    width: 140px;
    height: 800px;
    padding: 0px;
    float: left;
    background-color: #FFD464;
    border-width: 0px; 
    border-radius: 25px;
  }

  .content {
    z-index: 15;
    width: 100%;
    margin-top: -100px;
    max-width: 1250px;

  }

  .feature {
    /*padding-left: 90px;*/
    width: auto;
    max-width: 800px;
    padding-left: 15%;
    padding-right: 40px;
  }

  .article {
    z-index: 18;
    top: 250px;
    width: 60%;
    left: 10%;
    margin-left: 10px
  }

  .footer {
    z-index: 20;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    background-color: #f5f5f5;
  }
