body {
  color: yellow;
}

  h1 {
  font-family: advent-pro, sans-serif;    
  font-size: 4em;
  line-height: 80%;
  color: $white;
  background-color: $grey;
  position: relative;
  padding-left: 10px;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 100px;
  }

  h2 {
    font-family: open-sans, sans-serif;
    font-size: 2em;
    margin-top: 0px;
  }

  h3 {
    font-size: 2em;
    color: $white;
  }

  header {
    z-index: 20;
    opacity: 0.9;
  }

  a:link {
  color: $white;
  text-decoration: none;
  }

  a:visited {
    color: $white;
    text-decoration: none;
  }

  a:hover {
    color: $green;
    text-decoration: none;
  }

/* ----------------------------------------------- 
  RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 425px) {

  h1 {  
    width: 1100px;
    margin-top: 0px;
    font-size: 5em;
    line-height: 100%;
    color: $grey;
    background-color: $white;
    
  }
}


