.glossary textarea {
  height: 5em;
  width: 40em;
}

#addButton {
  background-color: $yellow;
}

#clearButton {
  background-color: $red;
}

.glossary {
  @include text($color: $white, $bg-color: $blue);
  @include posOp(relative, -190px, $z: $top, $op: .8);
  height: auto;
  min-height: 800px;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  padding-left: 200px;
  padding-bottom: 20px;
}

.glossaryHeader {
  @include text (2em, 150%, $white, $weight: bolder, $align: left);
  @include posOp(relative, 40px, -150px);
  font-family: neuton, sans-serif;
  width: 4em; 
  margin-left: 10px;
}

.glossary form {
  @include posOp(relative, $left: -150px);
  font-family: neuton, sans-serif;
  width: 200%
}

.glossary form textarea {
  font-family: neuton, sans-serif;
  width: 80%;
  max-width: 350px;
}

.wordList {
  @include posOp(relative, $left: -150px);
  font-family: neuton, sans-serif;
}

/* ----------------------------------------------- 
  RESPONSIVE CSS
-------------------------------------------------- */

@media #{$medium} {

  .glossary {
    @include posOp(relative, -765px, 50%, $z: $bottom, $op: .6);
    height: auto;
    padding-bottom: 20px;
    margin-left: 0px;
  }

  .glossaryHeader {
    margin-left: 2%;
  }
    .glossary form {
    margin-left: 2%;
    width: 200%
  }

  .glossary form textarea {
    max-width: 400px;
  }

  .wordList {
    margin-left: 2%;
  }
}

@media #{$large} {

  .glossary {
    @include posOp($top: -600px, $left: 59%);
    
  
  }
}  